<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Bundle identifier, unique to every application -->
    <key>CFBundleIdentifier</key>
    <string>com.chirimoya.retro-fred</string>

    <!-- Version number of the bundle -->
    <key>CFBundleVersion</key>
    <string>1.0</string>

    <!-- Short version string shown to users -->
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <!-- Name of the bundle -->
    <key>CFBundleName</key>
    <string>Retro-Fred</string>

    <!-- Type of the bundle (Do not change) -->
    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <!-- Path to the main executable inside the bundle -->
    <key>CFBundleExecutable</key>
    <string>retro-fred</string>

    <!-- Path to the Info.plist file itself -->
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <!-- Icon file for the application -->
    <key>CFBundleIconFile</key>
    <string>Retro-Fred.icns</string>

    <key>LSMinimumSystemVersion</key>
    <string>10.9</string>

    <!-- Main storyboard file base name (if using storyboards) -->
    <!-- <key>UIMainStoryboardFile</key> -->
    <!-- <string>Main</string> -->

    <!-- Supported interface orientations -->
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- Required background modes -->
    <!-- <key>UIBackgroundModes</key> -->
    <!-- <array> -->
        <!-- <string>audio</string> -->
        <!-- <string>location</string> -->
    <!-- </array> -->

    <!-- High resolution capabilities -->
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
